body {
}

p {
    font-family: Roboto, Arial;
}

.bold {
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
.medium {
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
}
.gray {
    color: gray;
}
.datetime {
    display: flex;
    justify-content: right;
}

.homepage-container {
    padding: 15px;
}

.dashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}
.dashboard i{
    font-size: 30px;
}

.dashboard-infor {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;

    background-color: white;
    border-radius: 5px;
    padding: 20px;
}
.dashboard-statistic {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 8px;

    background-color: white;
    border-radius: 5px;
    padding: 20px;
}

.dashboard-recent-class {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.dashboard-recent-class-infor {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.dashboard-recent-class-infor:hover{
    cursor: pointer;
    color: #3a8bfc;
    border-color: #3a8bfc;
}

.dashboard-statistic-left {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1;
}
.dashboard-statistic-left .upcoming-class {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: #f0e6fe;
    padding: 20px;
    padding-right: 40px;
    border-radius: 6px;
}
.dashboard-statistic-left .statistic-class {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: #e1f0fa;
    padding: 20px;
    padding-right: 40px;
    border-radius: 6px;
}
.dashboard-statistic-right {
    flex: 1;

    padding: 20px;
    padding-right: 40px;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    background-color: #ebfdef;
}
.dashboard-statistic-right .dashboard-subject-prepare{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dashboard-subjects p + p {
    margin-top: 15px;
}




.calendar {
    margin-top: 20px;
}

.calendar-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.calendar-title-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}
.calendar-title-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    background-color: white;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.calendar-title-button:hover {
    cursor: pointer;
    color: #3a8bfc;
    border-color: #3a8bfc;
}

.calendar-timetable {
    background-color: white;
    border-radius: 5px;
    margin-top: 10px;
    padding: 20px 10px;
}
.calendar-timetable-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0 10px;
    margin-bottom: 10px;
}
.calendar-timetable-title-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    font-size: 24px;
    font-weight: 400;
}
.calendar-timetable-title-right {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

    font-size: 15px;
}
.calendar-timetable-title-button {
    display: flex;
    flex-direction: row;
}
.calendar-timetable-title-prevButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    padding: 4px 20px;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.calendar-timetable-title-nextButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    padding: 4px 20px;
    border: 1px solid #ccc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.calendar-timetable-table {
    display: grid;
    grid-template-columns: auto repeat(7, 1fr) 20px;
    gap: 1px;
    background-color: #ccc;
    margin: 0 auto;
    border: 1px solid #ccc;
}
.calendar-timetable-table-header {
    display: contents;
    background-color: white;
}
.calendar-timetable-table-header .calendar-timetable-table-time-column {
    background-color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    height: 70px;
    border-bottom: 2px solid #ccc;
}
.calendar-timetable-table-header .calendar-timetable-table-day-column {
    display: grid;
    grid-template-rows: 25px 45px;

    background-color: white;
    text-align: center;
    font-weight: bold;
    height: 70px;
    border-bottom: 2px solid #ccc;
}
.calendar-timetable-table-header .calendar-timetable-table-day-column.current{
    background-color: #eaf6ff;
}
.calendar-timetable-table-header .calendar-timetable-table-day-column span{
    align-content: end;
}
.calendar-timetable-table-header .calendar-timetable-table-day-column .calendar-timetable-table-day-column-seperate{
    border-top: 1px solid #ccc;
}

.calendar-timetable-table.body {
    height: 500px;
    overflow-y: auto;
    grid-template-columns: auto repeat(7, 1fr);
}
.calendar-timetable-table-body {
    display: contents;
}
.calendar-timetable-table-day-column {
    position: relative;

    display: grid;
    grid-template-rows: repeat(17, 60px);
    gap: 1px;
}
.calendar-timetable-table-time-column {
    display: grid;
    grid-template-rows: repeat(17, 60px);
    gap: 1px;

    width: 69px;
}
.calendar-timetable-table-time-slot {
    display: flex;
    justify-content: flex-end;

    width: 100%;
    background-color: white;
    padding-right: 5px;
    padding-left: 5px;
}
.calendar-timetable-table-day-slot {
    line-height: 60px;
    background-color: white;
}
.calendar-timetable-table-day-slot.current {
    background-color: #eaf6ff;
}
.calendar-timetable-table-event {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 91px;

    display: flex;
    flex-direction: column;
    align-items: start;

    padding: 5px;
    padding-bottom: 0px;
    background-color: #fff;

    font-size: 12px;
    line-height: 1.4;
    width: 90%;
    text-align: center;

    border: 1px solid #265985;
    border-radius: 5px;
}
.calendar-timetable-table-event .slot-time {
    font-size: 10px;
    margin-bottom: 5px;
}
.calendar-timetable-table-event .slot-number{
    position: absolute;
    bottom: 0px;
    right: 5px;
}
.calendar-timetable-table-event + .calendar-timetable-table-event {
    top: 180px;
}
.calendar-timetable-table-event::before {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #555;
}
.calendar-timetable-table-event[data-status="future"]::before {
    background-color: orange;
}
.calendar-timetable-table-event[data-status="active"]::before {
    background-color: rgb(36, 209, 100);
}


@media screen and (min-width: 1890px) {
    .calendar-timetable-table {
        gap: 2px;
    }
    .calendar-timetable-table-time-column {
        gap: 2px;
    }
    .calendar-timetable-table-day-column {
        gap: 2px;
    }
}
@media screen and (min-width: 5000px) {
    .calendar-timetable-table {
        gap: 3px;
    }
    .calendar-timetable-table-time-column {
        gap: 3px;
    }
    .calendar-timetable-table-day-column {
        gap: 3px;
    }
}
@media screen and (min-height: 1000px) {
    .calendar-timetable-table.body {
        height: 800px;
    }
}




.old-schedule {
    margin-top: 40px;
    background-color: white;
    border: 5px;
    margin-bottom: 50px;
}
.old-schedule-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}
.old-schedule-title p{
    font-weight: 500;
    font-size: 20px;
}
.search-bar {
    display: flex;
    align-items: center;
    background-color: #f4f4f4; /* Light gray background */
    border-radius: 10px; /* Rounded corners */
    padding: 10px 15px; /* Padding for spacing */
    width: 300px; /* Adjust width as needed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
.search-bar input {
  flex: 1; /* Allow input to take up available space */
  border: none; /* Remove input border */
  background: none; /* Transparent background */
  outline: none; /* Remove focus outline */
  font-size: 14px; /* Adjust font size */
  color: #666; /* Light gray text color */
}
.search-bar i {
  background: none; /* Remove button background */
  border: none; /* Remove button border */
  padding: 0; /* Remove default padding */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 12px;
}

.old-schedule-header {
    display: grid;
    grid-template-columns: 2fr 3fr repeat(3, 2fr) repeat(2, 3fr) 2fr;
    gap: 10px;
    background-color: #f6f6f6;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    padding: 15px 0;
    padding-left: 10px;
}
.old-schedule-header span{
    border-right: 1px solid #e7e7e7;
    font-weight: 500;
}
.old-schedule-item {
    display: grid;
    grid-template-columns: 2fr 3fr repeat(3, 2fr) repeat(2, 3fr) 2fr;
    gap: 10px;
    border-bottom: 1px solid #e7e7e7;
    padding: 15px 0;
    padding-left: 10px;
}
.old-schedule-item span {
    align-content: center;
}
.old-schedule-item div {
    align-content: center;
}
.old-schedule-item .absence{
    padding: 2px 5px;
    font-size: 12px;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    background-color: #ffecec;
}
.old-schedule-item .attended{
    padding: 2px 15px;
    font-size: 12px;
    font-weight: 700;
    color: green;
    border: 1px solid green;
    border-radius: 5px;
    background-color: #f6ffed;
}
.old-schedule-item .info{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Same as width for a perfect circle */
  border: 1px solid #ccc; /* Border color and width */
  border-radius: 50%; /* Makes the shape circular */
  color: #707070;
}