body {
    background-color: white;
}

p {
    font-family: Roboto, Arial;
    margin: 0;
}

.left-side p {
    color: white;
    text-align: center;

    position: relative;
}

.overall-page {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.left-side {
    background-color: #0064e8;
    flex: 1;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-side {
    flex: 1;
}

.icon-logo {
    height: 120px;
}

.img-dashboard {
    height: 300px;
}

.introduction-group {
    display: flex;
    flex-direction: column;
    align-items: center
}

.system-name {
    font-weight: 700;
    margin-bottom: 7px;
}

.description {
    height: 20px;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 150px;
}

.signin-title {
    font-weight: 700;
    font-size: 28px
}

.welcome-content {
    margin-bottom: 20px;
}

.email-input-container {
    display: flex;

    border: 1px solid, #d9d9d9;
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.password-input-container {
    display: flex;

    border: 1px solid, #d9d9d9;
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.input-field {
    border: none;
    width: 100%;
    margin-left: 10px;
    font-family: Roboto, Arial;
    font-size: 14px;
    outline: none;
}

.input-field:-webkit-autofill:hover,
.input-field:-webkit-autofill:focus,
.input-field:-webkit-autofill:active {
    -webkit-box-shadow: none;
}

.gg-icon {
    height: 30px;
}

.more-action-account {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 15px;
}

.more-action-account p {
    font-size: 15px;
}

.forget-password-p {
    color: #1677ff;
}

.sigin-button {
    color: white;
    background-color: #1677ff;
    border: 1px solid, #d9d9d9;
    border-radius: 8px;
    padding: 10px 0;
    margin-bottom: 20px;
    transition: background-color ease 0.3s;
}
.sigin-button:hover {
    background: #4096ff;
    cursor: pointer;
}

.gg-sigin-option-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.gg-sigin-option-container div {
    height: 0px;
    border-top: 0.1px solid #d9d9d9;
    flex: 1;
}

.signin-gg-container {
    display: flex;
    border: 1px solid, #d9d9d9;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    padding: 6px 0;
    margin-bottom: 25px;
}

.contact-p {
    text-align: center;
    font-size: 15px;
}

.contact-p span {
    color: #1677ff;
    font-weight: 500;
}


.popup-notification {
    position: fixed;
    top: -30px;
    right: 100px;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 15px;
    opacity: 0;
    transition: opacity 0.3s ease, top 0.3s ease;
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.popup-notification.show {
    top: 50px;
    opacity: 1;
}

.popup-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 10px;
}

.popup-title i {
    font-size: 20px;
    margin-right: 10px;
}

.popup-title p {
    font-weight: 500;
    text-align: center;
}

.title-popup {
    font-weight: 700;
}

.title-popup.success {
    color: #37c89d;
}

.title-popup.fail {
    color: #f92424;
}