* {
    box-sizing: border-box;
}

p {
    font-family: Roboto, Arial;
    margin: 0;
}

html {
  font-size: 14px;
}

/*@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}*/

html {
  position: relative;
  min-height: 100%;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
}

body {
    background-color: rgb(244 244 244);
    position: relative;
    overflow-x: hidden;
}

main {
    position: absolute;
    left: 200px;
    top: 60px;
    right: 0;
    bottom: 0;
    width: calc(100% - 200px);
    height: 100%;
}



.sidebar {
    display: flex;
    flex-direction: column;

    padding: 8px;
    width: 200px;
    background-color: white;

    position: fixed;
    left: 0px;
    top: 66px;
    bottom: 0px;

    z-index: 100;
}
.sidebar i {
    font-size: 12px;
}
.sidebar p {
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    flex: 1;
    margin-left: 10px;
}
.sidebar-item {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
}
.sidebar-item-container {
    padding: 4px 20px;
    margin-bottom: 6px;
    border-radius: 8px;
}
.sidebar-item-container:hover {
    cursor: pointer;
    background-color: rgb(238 238 238);
}
.sidebar-item-container.selected {
    background-color: #e6f4ff;
    color: #1677ff;
}
.sidebar-item-container.menu-selected {
    color: #1677ff;
}

.sidebar-account-menu {
    overflow: hidden;
    height: 0;
    transition: height 0.3s ease;
}
.sidebar-account-menu.open {
    height:auto;
}
.sidebar-account-menu span {
    display: flex;
    width: 100%;
    border-radius: 10px;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    padding-left: 48px;
    padding-right: 16px;
    white-space: nowrap;
    line-height: 36px;
    list-style-position: inside;
    list-style-type: disc;
}
.sidebar-account-menu span.selected{
    background-color: #e6f4ff;
    color: #1677ff;
}

.icon::before {
    font: var(--fa-font-solid);
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.angle-down::before {
    transform: rotate(0deg);
    content: '\f107'; /* Font Awesome's angle-down unicode */
}
.angle-up::before {
    transform: rotate(180deg);
    content: '\f106'; /* Font Awesome's angle-up unicode */
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 65px;
    background-color: white;
    border-bottom: 1px solid rgb(217, 217, 217);
    position: fixed;
    top: 0px;
    z-index: 100;
}

.header-left-side {
    display: flex;
    flex-direction: row;
}

.header-left-side img {
    width: 200px;
    height: auto;
    margin: 10px 0px;
}

.header-left-side p {
    font-size: 1.688rem;
    font-weight: 500;
    white-space: nowrap;
    align-content: center;
}

@media screen and (max-width: 1000px) {
    .header-left-side p {
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 860px) {
    .header-left-side p {
        font-size: 1rem;
    }
}

.header-right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-right: 20px;
}

.header-right-side-item {
    margin-right: 20px;
    position: relative;
}

.header-progress-tracking {
    background-color: none;
    border: 4px solid rgba(0, 0, 0, .1);
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.header-progress-tracking {
    cursor: pointer;
}

.header-notification {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 50%;
    height: 40px;
    width: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.header-notification i {
    font-size: 16px;
}

.header-avartar {
    width: 40px;
    height: 40px;
    font-size: 18px;
    border-radius: 50%;
}

.header-user-name {
    font-weight: 500;
}

.header-user-role {
    font-weight: 400;
    font-size: 14px;
}

.header-more-action i {
    font-size: 22px;
}

.header-more-action i:hover{
    color: #74C0FC;
    cursor: pointer;
}



.progress-tracking-popup-wrap {
    position: fixed;
    inset: 0;
    z-index: 1000;
    overflow: auto;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.45);

    opacity: 0;
    pointer-events: none;
}
.progress-tracking-popup-wrap.active {
    opacity: 1;
    pointer-events: auto;
    transition: 0.4s ease;
}

.popup-content-container {
    width: 600px;
    transform-origin: 824px -65px;

    margin: 0 auto;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    pointer-events: none;
    position: relative;
    top: 100px;
    max-width: calc(100vw - 32px);
    padding-bottom: 24px;
}

.progress-tracking-popup {
    position: relative;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    pointer-events: none;
    padding: 20px 24px;
}
.progress-tracking-popup.active {
    pointer-events: auto;
}

.progress-tracking-popup-close {
    position: absolute;
    top: 12px;
    inset-inline-end: 12px;
    z-index: 1010;
    padding: 0;
    color: rgba(0, 0, 0, 0.45);
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    background: transparent;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.progress-tracking-popup-header {
    margin: 0;
    color: rgba(0, 0, 0, 0.88);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.progress-tracking-popup-footer {
    text-align: end;
    background: transparent;
    margin-top: 12px;
    padding: 0;
    border-top: none;
    border-radius: 0;
}

.progress-tracking-popup-footer-cancel {
    background: transparent;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    height: 32px;
    padding: 4px 15px;

    border-color: #d9d9d9;
    border: 1px solid #d9d9d9;
    border-radius: 6px;
}

.progress-tracking-popup-footer-ok {
    color: #fff;
    background: #1677ff;
    font-size: 14px;
    line-height: 1.5714285714285714;
    height: 32px;
    padding: 4px 15px;

    border: 1px solid transparent;
    border-radius: 6px;
}

.progress-tracking-popup-body {
    color: rgba(0, 0, 0, 0.45);
    min-height: 100px;

    flex-wrap: wrap;
    display: flex;
    align-content: center;
    justify-content: center;
}



.notification-popup {
    position: absolute;
    top: 50px;
    left: -90px;
    z-index: 1000;

    display: flex;
    flex-direction: column;

    padding: 4px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),0 3px 6px -4px rgba(0, 0, 0, 0.12),0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.notification-popup-title {
    padding-left: 15px;
}

.notification-popup-title span {
    font-size: 20px;
    font-weight: 500;
}

.notification-popup-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 200px;
}

.notification-popup-body span {
    text-align: center;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.45);
}

.notification-popup-body i {
    font-size: 70px;
    margin-bottom: 10px;
    margin-top: 10px;
}



.more-action-popup-position {
    position: absolute;
    top: 40px;
    right: -10px;
    z-index: 1000;
}

.more-action-popup-container {
    position: relative;
    padding: 4px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 12px 8px rgba(0, 0, 0, 0.08);
}

.popup-triangle {
    position: absolute;
    top: -9px;
    left: 65px;

    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;

    z-index: 1001;
}

.more-action-popup-content {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}

.more-action-popup-content:hover {
    background-color: rgba(0, 0, 0, 0.035);
}

.more-action-popup-content span {
    font-size: 14px;
    height: 32px;
    padding: 4px 15px;
    white-space: nowrap;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}

.more-action-popup-content span:hover {
    background-color: rgba(0, 0, 0, 0.06);
}




.popup-notification {
    position: fixed;
    top: -30px;
    right: 90px;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 15px;
    opacity: 0;
    transition: opacity 0.3s ease, top 0.3s ease;
    display: flex;
    flex-direction: column;
    min-width: 200px;
    z-index: 1001;
}

.popup-notification.show {
    top: 80px;
    opacity: 1;
}

.popup-title {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-bottom: 10px;
}

.popup-title i {
    font-size: 20px;
    margin-right: 10px;
}

.popup-title p {
    font-weight: 500;
    text-align: center;
}

.title-popup {
    font-weight: 700;
}

.title-popup.success {
    color: #37c89d;
}

.title-popup.fail {
    color: #f92424;
}